{% load staticfiles static %}

<!DOCTYPE html>
<html>
<head>
	<title>{%block title %}Buza{%endblock%}</title>
	<link rel="stylesheet" href="{% static "css/base_style.css" %}" >
    <link href="{% static "css/boards.css" %}" rel="stylesheet">
    <link rel="icon" href="{% static 'images/buza-logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<header class="header">
    	<div id="header">
		<div><span class="logo">Buza <br></span></div>
        <div>
            {% if user.is_authenticated %}
        <div>
    <div class="u-cf u-full-width" >
        <div class="dropdown" style="float:left;">
       <button class="dropbtn"> <i class="fa fa-user header-icon">{{user.username}}</i></button>
                        <div class="dropdown-content">
                <a href="{% url 'user-detail' pk=user.pk %}">View Account</a>
                 <a href="{% url 'edit' %}"> Edit Account</a>
                   <a href="{% url 'password_change' %}"> Change Password</a>
                    <a href="{% url 'logout' %}"> Logout</a>
        </div>
            </div>
        <div style="float:right;">
          <a href="{% url 'question-create' %}" class="header-icon-wrap u-pull-left">
        <i class="fa fa-plus header-icon header-icon-last">Ask Question</i>
      </a>
        </div>
    </div>

    </div>
    <div class="u-cf u-full-width tabs-wrap">
      <a href="{% url 'question-list' %}" class="fa fa-home fa-2x header-tab header-tab-active u-pull-left">Home</a>
      <a href="{% url 'subject-list' %}" class="fa fa-user fa-2x header-tab u-pull-left">Subjects</a>
      <a href="{% url 'users' %}" class="fa fa-search fa-2x header-tab u-pull-left">Search</a>
      <a href="{% url 'users' %}" class="fa fa-bell fa-2x header-tab u-pull-left">Notifications</a>
    </div>
  </div>

                 	{% else %}
     		 <a href="{% url 'login' %}" style="background-color: silver; padding: 10px;font-weight: bold; border-radius: 10%;">Log-In</a>
     		  <a href="{% url 'register' %}" style="background-color: lightblue; padding: 0px;font-weight: bold; border-radius: 10%;">Sign-Up</a>
     	{% endif %}
</header>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">
            {{message|safe}}
            <a href="#" class="close">x</a>
        </li>
        {%endfor%}
    </ul>
    {% endif %}

	<div id="content">
            {% block content %}
            {% endblock %}
    </div>
    <div id=footer>
        {% block footer %}
        {% endblock %}
    </div>

</body>

</html>
