{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block head_extra %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'buza/css/questions.css' %}">
{% endblock %}

{% block title %}Ask a question - {{ block.super }}{% endblock %}

{% block content %}
<div class="text-center mx-auto my-5" style="max-width: 40em">

    <h2>{% if question.pk %}Edit{% else %}Add a new{% endif %} Question</h2>
    <form>
  <div class="form-group">
      <input type="text" class="form-control" placeholder="Write a new question...">
  </div>
        <div class="form-group">
      <input type="text" class="form-control" placeholder="Topics in the question e.g. trignonometry, triangles, theta">
  </div>
         <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputSubject">Subject</label>
      <select id="inputSubject" class="form-control">
        <option>Mathematics</option>
      </select>
  </div>
    <div class="form-group col-md-6">
      <label for="inputGrade">Grade</label>
      <select id="inputGrade" class="form-control">
        <option>10</option>
      </select>
  </div>
              </div>
</form>

    {% crispy form %}

</div>
{% endblock %}
